.nav{
    grid-area: n;
    /* background-color: #83868C; */
    padding: 20px;
}
.item a{
    color: #3D3E41;
    text-decoration: none;
}
/* .item a.active{
    color: #D08A4B;
} */
.item{
    position: relative;
    height: 40px;
    margin: 10px;
    border-bottom: 1px solid #83868C;
}
/* .item::after{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100px;
    height: 1px;
    background-color: #3D3E41;
    color: #3D3E41;
} */
.sidebar{
    padding-top: 30px;
    font-size: 20px;
    font-weight: 500;
    color: white;
}